<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="emanuelkrowegoran.ternakode">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="TAKA Express"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Intro.IntroAwal" />
        <activity android:name=".IntroSlider.WelcomeActivity" />
        <activity android:name=".Menu.HomeDashboard" />
        <activity android:name=".Info.InfoActivity" />
        <activity android:name=".MenuProfil.profilAPK" />
        <activity android:name=".Pesan.Pemesanan" />
        <activity android:name=".RiwayatBoking.RiwayatBoking" />
        <activity android:name=".Pesan.FirebaseDBReadActivity" />
        <activity android:name=".Pesan.FirebaseDBReadSingleActivity" />
        <activity android:name=".Pesan.FirebaseDBCreateActivity" />
        <activity android:name=".Bayar.activityBayar" />
        <activity android:name=".Bayar.bni"></activity>
        <activity android:name=".Bayar.bri"></activity>
        <activity android:name=".Bayar.mandiri"></activity>
    </application>

</manifest>